{cover_enabled, true}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
  {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang", "69d5aa8ff5f100ec99c6f31662c05baa3f7276f8"}},
  {pkcs7, ".*", {git, "https://github.com/camshaft/pkcs7.erl.git", "1.0.1"}},
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", "master"}}
]}.
