{cover_enabled, true}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
  {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", "0.1.2"}},
  {pkcs7, ".*", {git, "https://github.com/CamShaft/pkcs7.erl.git", "1.0.0"}},
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", "v1.1"}}
]}.
